@using Microsoft.AspNetCore.Identity;
@model UsersRoles

<div class="card">
    <div class="div-header">
        <h3>@Model.UserName Role Atama</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="card-body">
        <form asp-action="RolAta" asp-controller="Roller" method="post">
            <div class="mb-3 row">
              @{
                  var roles = (List<IdentityRole<int>>)ViewBag.Roles;

               @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    foreach (var item in Model.Roles) /// BURASI TAMAMLANACAK !! 
                        {
                            if (item == roles[i].Name)
                            {
                                <label>@item[i].>@item</label>
                                <input type="checkbox" checked value="@item"/>
                            }
                            else
                            {
                                <label>@roles[i].Name>@item</label>
                                <input type="checkbox" value="@roles[i].Name" />
                            }
                        }
                }

                }
            </div>

            <div class="mb-3 row">
                <label asp-for="UserName" class="col-sm-2 col-form-label">Name</label>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}